*{
  margin: 0;
  padding: 0;
}
.App{
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.income{
  border: 0px solid black;
  height: 46vh;
  width: 25%;
  text-align: center;
  border-radius: 15px;
  border-top-color: blue;
  border-top-width: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 10px;
}

.expenseTracker{
  border: 0px solid black;
  height: 92vh;
  width: 50%;
  text-align: center;
  border-radius: 15px;
  border-top-color: rgb(0, 0, 0);
  border-top-width: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.expense{
  border: 0px solid black;
  height: 46vh;
  width: 25%;
  text-align: center;
  border-radius: 15px;
  border-top-color: rgb(255, 0, 0);
  border-top-width: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 10px;
  
}
.section{
  margin: 70px 20px 50px 20px;
  
}
.amount{
  width:100%;
}
.btn{
  position: relative;
  top: 10px;
  width: 250px;
  padding: 20px;
}
table{
  /* border:  1px solid black; */
  width: 100%;
  height: 50px;
}

.selectIncome,.category{
  margin-bottom: 10px;
}
.textField1{
  margin-bottom: 10px;
}
.output{
  height: 140px;
  overflow-y:auto;
  margin-top: 30px;
}
p{
  font-size: 30px;
}
input[type="date"]{
  padding: 10px;
  font-family: "Roboto Mono",monospace;
  color: rgb(107, 107, 107);
  font-size: 18px;
  border: 1px solid rgb(197, 197, 197);
  outline: none;
  border-radius: 5px;
  width: 50%;
  float: left;
  margin-left: 10px;

}
#dateLabel{
  color: rgb(77, 77, 77);
  float: left;
  margin: 10px 0px 0px 0px;
  font-size: 16px;
}
.date{
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.pie{
  padding-left: 100px;
}

